@model IEnumerable<GameStore.Domain.Model.Feedback>

@{
    ViewBag.Title = "Index";
}

<h2>List of Feedback</h2>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFeedback)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFeedback })
        </td>
    </tr>
}

</table>
