
@Html.Partial("_FrontPartial")
<head>
    <link href="~/css/bootstraps.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet">
    @*Comment the font to toggle it*@
    <link href='//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <!--banner-bottom-w3layouts-->
    <section class="banner-bottom-w3layouts">
        <div class="container">
            <div class="inner-sec-w3ls">
                <h3 class="tittle-wthree text-center">
                    <span>Visit</span>Welcome to Game Store
                </h3>
                <div class="row mt-lg-5 mt-4">
                    <div class="col-lg-6 about-img">
                        <img src="https://s3-alpha-sig.figma.com/img/1709/2659/10c1a21baa17e67c9bd532fbf8d64b3a?Expires=1672617600&Signature=kqsFeG-Gwn-MhirOxsbtomgPFQHNKlirR~y5UHUzWkCy82SuoYsvkAbdgjNKZg7pyNP2ooDRdKN2FJiR4MNuKesB7JNQXoHNg1qyFfI1cntGXuwwaT7E5NsXJ1FuWZMN3vJjXUOWtX9w2HisJ7DcRb30pfNTtRYvK7c3FOa8yMKsLjB4P~Wtu-G4ucjo58nme1~kkZmoGcSOIw-ZJCf3X68tZZxUTnoBGF42zMDqvTfFdEozyz3QhKwp53cj3qzxHDYPVPsbgx1Hyi6gMy867pGVgQvfS4kWPZpVKiErWlgDbjma48fyyutmMQsAGhAMANpm-uET90cekdFf3oDRsg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="img-gamestore" class="img-fluid">
                    </div>
                    <div class="col-lg-6 aboutright">
                        <h3>About Game Store</h3>

                        <h4>Game Store specializes in providing games and gaming equipment: game consoles, phones, tablets, laptops, digital toys.</h4>
                        <p>
                            Game Store has always kept the values ​​that it has built and developed for a long time, the highlights that have drawn customers to the Game Store during the past time.
                        </p>
                        <ul>
                            <li>Game Store brings customers the BEST QUALITY products with the CHEAPEST PRICE</li>
                            <li>Always maintain 365 days warranty for all products</li>
                            <li>The support team is available 24/7 and is dedicated.</li>
                        </ul>
                        <div class="read inner mt-4">
                            <a href="@Url.Action("About", "Common")" class="btn btn-sm animated-button victoria-two">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/services-->
    <section class="banner-bottom-w3layouts py-lg-5 py-lg-4 py-4">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-4 py-4">
                <h3 class="tittle-wthree text-center mb-lg-5 mb-3">
                    <span>Visit</span>Our Services
                </h3>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://loyaltynetwork.com.vn/wp-content/uploads/2021/05/Tam-quan-trong-cua-dich-vu-khach-hang.jpg" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">
                                        CUSTOMER ORIENTED
                                    </h5>
                                    <p class="card-text">
                                        Serving and bringing satisfaction to customers is the top goal of Game Store employees
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://i.ex-cdn.com/phatgiao.org.vn/files/news/2021/01/01/moi-nguoi-tren-the-gian-nay-khong-quan-tam-den-ta-nhieu-nhu-ta-tuong-dau-192408.jpg" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">
                                        CARE
                                    </h5>
                                    <p class="card-text">
                                        Devotion to customers, dedication to employees is how we spread positive values ​​and a sense of responsibility
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://timviec365.vn/pictures/news/2022/05/25/sln1653449868.jpg" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">
                                        INTEGRITY
                                    </h5>
                                    <p class="card-text">
                                        Do exactly what is committed from the simplest, fair and transparent things
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://i0.wp.com/drkhoe.vn/wp-content/uploads/2022/01/cau-noi-hay-ve-teamwork.jpg" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">
                                        TEAMWORK
                                    </h5>
                                    <p class="card-text">
                                        Our strength is created by solidarity and sharing
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//services-->
    <!--/stats-->
    <section class="stats_test container-fluid">
        <div class="row inner-sec-w3ls">
            <div class="col-sm-3 col-6 stats_info counter_grid">
                <div class="dotts py-5">
                    <i class="far fa-building"></i>
                    <p class="counter">1</p>
                    <h4>Store</h4>
                </div>
            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid1">
                <div class="dotts py-5">
                    <i class="far fa-edit"></i>
                    <p class="counter">563</p>
                    <h4>Game</h4>
                </div>
            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid2">
                <div class="dotts py-5">
                    <i class="far fa-building"></i>
                    <p class="counter">145</p>
                    <h4>Devide Game</h4>
                </div>
            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid3">
                <div class="dotts py-5">
                    <i class="far fa-smile"></i>
                    <p class="counter">1045</p>
                    <h4>Customer Satisfaction</h4>
                </div>
            </div>
        </div>
    </section>
    <!--//stats-->
    <!-- /testimonials -->
    <div class="testimonials py-lg-5 py-4">
        <div class="testimonials-inner py-lg-4 py-3">
            <h3 class="tittle-wthree text-center my-lg-4 mt-3">Tesimonials</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonials_grid text-center">
                            <i class="fab fa-twitter"></i>
                            <h3>
                                Anamaria
                                <span>Customer</span>
                            </h3>
                            <label>United States</label>
                            <p>That's so great</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonials_grid text-center">
                            <i class="fab fa-twitter"></i>
                            <h3>
                                Bui Van Tinh
                                <span>Customer</span>
                            </h3>
                            <label>Viet Nam</label>
                            <p>I am very satisfied with your product</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonials_grid text-center">
                            <i class="fab fa-twitter"></i>
                            <h3>
                                Gretchen
                                <span>Customer</span>
                            </h3>
                            <label>France</label>
                            <p>Your staff is so attentive</p>
                        </div>
                    </div>
                    @*<a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="fas fa-long-arrow-alt-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>*@
                </div>
            </div>
        </div>
    </div>
    <!-- //testimonials -->
    <!-- footer -->
    <!-- //footer -->
    <!-- js -->
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <!--slider-->
    <script src="~/scripts/jquery.sliderPro.min.js"></script>
    <script>
        $(document).ready(function ($) {
            $('#example1').sliderPro({
                width: 1980,
                height: 800,
                arrows: true,
                buttons: false,
                waitForLayers: true,
                thumbnailWidth: 270,
                thumbnailHeight: 100,
                thumbnailPointer: true,
                autoplay: false,
                autoScaleLayers: false,
                breakpoints: {
                    500: {
                        thumbnailWidth: 120,
                        thumbnailHeight: 50
                    }
                }
            });
        });

    </script>
    <!--//slider-->
    <!-- stats -->
    <script src="~/scripts/jquery.waypoints.min.js"></script>
    <script src="~/scripts/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- carousel -->
    <script src="~/scripts/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    900: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })

    </script>
    <!-- //carousel -->
    <!-- //js -->
    <script src="~/scripts/bootstrap.js"></script>
    <!--/ start-smoth-scrolling -->
    <script src="~/scripts/move-top.js"></script>
    <script src="~/scripts/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <!--// end-smoth-scrolling -->
</body>