<style>
    .header_search {
        position: relative;
        background: #337ab7;
        border: 1px solid #337ab7;
        border-radius: 5px;
        margin-top: 20px;
        width: 91%;
        padding: 1px;
    }

        .header_search form {
            width: 100%;
        }

        .header_search input[type="text"] {
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            padding: 8px 16px;
            outline: none;
            color: #5a5a5a;
            background: white;
            border: none;
            width: 95.33333%;
            line-height: 1.5em;
            position: relative;
            font-size: 1em;
            -webkit-appearance: none;
            text-transform: capitalize;
        }

        .header_search input[type="submit"] {
            background: url('../images/search.png') no-repeat 0px 1px;
            border: none;
            cursor: pointer;
            width: 24px;
            outline: none;
            position: absolute;
            height: 24px;
            margin: auto;
            top: 5px;
            right: 5px;
        }
            .header_search input[type="submit"]:hover {
                transform: scale(1.2);
                color: white;
            }

    h2 {
        color: #337ab7;
    }
    .bg-headline {
        background-color: #fef9f9;
        width: 102%;
        padding-bottom: 12px;
    }
    @@media only screen and (max-width: 1920px) {

    }

    @@media only screen and (max-width: 739px) {
        .header_search input[type="text"] {
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            padding: 8px 16px;
            outline: none;
            color: #5a5a5a;
            background: white;
            border: none;
            width: 100%;
            line-height: 1.5em;
            position: relative;
            font-size: 1em;
            -webkit-appearance: none;
            text-transform: capitalize;
        }
        .header_search input[type="submit"] {
            border: none;
            cursor: pointer;
            width: 24px;
            outline: none;
            position: absolute;
            height: 30px;
            top: 5px;
            right: 5px;
        }
    }

    @@media all and (max-width: 585px) {
        .header_search input[type="text"] {
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            padding: 8px 16px;
            outline: none;
            color: #5a5a5a;
            background: white;
            border: none;
            width: fit-content;
            line-height: 1.5em;
            position: relative;
            font-size: 1em;
            -webkit-appearance: none;
            text-transform: capitalize;
        }

        .header_search input[type="submit"] {
            border: none;
            cursor: pointer;
            width: 24px;
            outline: none;
            position: absolute;
            height: 30px;
            top: 5px;
            right: 5px;
            
        }
    }

    @@media all and (max-width: 380px) {
        .header_search input[type="text"] {
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            padding: 8px 16px;
            outline: none;
            color: #5a5a5a;
            background: white;
            border: none;
            width: 71%;
            line-height: 1.5em;
            position: relative;
            font-size: 1em;
            -webkit-appearance: none;
            text-transform: capitalize;
        }

        .header_search input[type="submit"] {
            border: none;
            cursor: pointer;
            width: 24px;
            outline: none;
            position: absolute;
            height: 30px;
            top: 5px;
            right: 5px;
        }
    }

    @@media all and (max-width: 252px) {
        .header_search input[type="text"] {
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            padding: 8px 16px;
            outline: none;
            color: #5a5a5a;
            background: white;
            border: none;
            width: 55%;
            line-height: 1.5em;
            position: relative;
            font-size: 1em;
            -webkit-appearance: none;
            text-transform: capitalize;
        }

        .header_search input[type="submit"] {
            outline: none;
            position: absolute;
            width: 24px;
            height: 24px;
            top: 5px;
            right: 5px;
        }
    }
</style>
<div class="row bg-headline">
    <div class="col-sm-4"><h2>@ViewBag.Title</h2></div>
    <div class="col-sm-4" style="vertical-align:middle">

        <div class="header_search">
            <form action="/Product/Search/" method="Post" role="search">
                <input type="text" id="search" name="productname" class="form-control" placeholder="Search Product..">
                <input type="submit" class="glyphicon glyphicon-search" value="">
            </form>
        </div>

        @*<div class="header_search">
                <form onchange="/Product/Search/" method="Post" class="navbar-form navbar-right" role="search">
                    <div class="form-group input-group">
                        <input type="text" id="search" name="productname" class="form-control" placeholder="Search Product..">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span ></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>*@
    </div>
    <div class="col-sm-4" style="text-align: right;">
        <div class="header_cart">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8"><a href="/MyOrder"><span style="margin-right:20px;"><span class="glyphicon glyphicon-briefcase"></span> My Order(@Session["OrderCount"])</span></a><a href="/ShoppingCart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart(@Session["CartCount"])</a></div>
            </div>
        </div>
    </div>
</div>
<h3>@ViewBag.Message</h3>
<hr />
<script>
    $(document).ready(function () {
        $(function () {
            $("#search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/api/Product/GetAutoComplete/",
                        type: "GET",
                        data: {
                            name: request.term
                        },
                        dataType: "json",
                        success: function (data) {
                            response(data);
                        }
                    });
                }
            });
        });
    });
</script>